/*SASS VARIABLES AND MIXINS*/
$default-family: 'Open Sans','Helvetica','Sans-serif';
$font-color: #C5C5C5;
$sec-font-color: #FFFCF2;
$main-color: #6A6C5E;
$font-color-dark: #333333;
$screen-sm: 768px;
$screen-md: 1285px;
$screen-sp: 1100px;
@mixin md{
    @media (max-width: #{$screen-md}){
        @content;
    }
}
@mixin sm{
    @media (max-width: #{$screen-sm}){
        @content;
    }
}
@mixin sp{
    @media (max-width: #{$screen-sp}){
        @content;
    }
}
@mixin min-md {
    @media (min-width: #{$screen-sm}) {
        @content;
    }
}
/*END SASS VARIABLES AND MIXINS*/

:root {
    --main-hsl: 0 ,0% ,77%;
}